---
title: Getting Started

includes:
  - GettingStarted.md
  - js/update_links.md

columns: 1

toc_footers:
- <a href="index.html">Spire Space Services</a>
- <a href="Fundamentals.html">Fundamentals</a>
- <a href="GettingStarted.html">Getting Started</a>
- <a href="FAQ.html">FAQ</a>
- <a href="https://github.com/nsat/space-services-user-guidel">GitHub</a>

---
